<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="example.com.testkotlin"
          android:installLocation="preferExternal">

    <application
        android:name="example.com.testkotlin.haha.app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/timg"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".haha.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".haha.activity.TestRecyclerview">
        </activity>
        <activity android:name=".haha.activity.BasicGrammarActivity">
        </activity>
        <activity android:name=".haha.activity.AnkoToXml">
        </activity>
        <activity android:name=".haha.activity.ControlflowActivity">
        </activity>
        <activity android:name=".haha.activity.ReturnsAndJumpsActivity">
        </activity>
        <activity android:name=".haha.activity.ClassInheritActivity">
        </activity>
        <activity android:name=".haha.activity.ExpandActivity">
        </activity>
        <activity android:name=".haha.activity.DataClassActivity">
        </activity>
        <activity android:name=".haha.activity.GenericActivity">
        </activity>
        <activity android:name=".haha.activity.IterableActivity">
        </activity>
        <activity android:name=".haha.activity.AttributesFieldsActivity">
        </activity>
        <activity android:name=".haha.activity.ObjectAndCompanionObjectActivity">
        </activity>
        <activity android:name=".haha.activity.EntrustActivity">
        </activity>
        <activity android:name=".haha.activity.FunctionActivity">
        </activity>
        <activity android:name=".haha.activity.InlineFunctionActivity">
        </activity>
    </application>

</manifest>